<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <style>
        table { border-collapse: collapse; width: 80%; margin: 20px auto; }
        th, td { border: 1px solid #ccc; padding: 10px; text-align: center; }
        th { background: #333; color: white; }
        select, button { padding: 5px; }
    </style>
</head>
<body>

<h2 style="text-align:center;">ADMIN - QUẢN LÝ PHÂN QUYỀN</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u.MaTK }}</td>
        <td>{{ u.TenDangNhap }}</td>
        <td>{{ u.VaiTro }}</td>
        <td>{{ u.TrangThai }}</td>

        <td>
            <form method="POST" action="/admin/change-role/{{ u.MaTK }}">
                <select name="role">
                    <option value="manager">manager</option>
                    <option value="employee">employee</option>
                </select>
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>